{% load static %}
<!DOCTYPE html>
<html>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Page</title>
    <link rel="stylesheet" type="text/css" href="{% static 'courses/css/styles_about.css' %}">
<head>
    <title>Форсаж</title>
</head>
<body>
        <header>
            <nav>
                <ul>
                    <li><a href="/">Головна</a></li>
                    <li><a href="{% url 'start_quiz' %}">Пройти тест</a></li>
                    <li><a href="{% url 'course_list' %}">Курси</a></li>
                    <li><a href="{% url 'kontakt' %}">Контакти</a></li>
                
                </ul>
            </nav>
        </header>
    
        <section class="hero">
            <div class="hero-content">
                <h1>Ласкаво просимо до автошколи "Форсаж"</h1>
                <p>Навчіться водінню з нами та отримайте посвідчення водія!</p>
                <a href="{% url 'course_list' %}" class="btn-1">Дізнатись більше</a>
            </div>
        </section>
    
        <section class="features">
            <div class="feature">
                <h2>Досвідчені інструктори</h2>
                <p>Наші інструктори з багаторічним досвідом допоможуть вам освоїти навички водіння.</p>
            </div>
            <div class="feature">
                <h2>Різноманітні курси</h2>
                <p>Ми пропонуємо різні курси, включаючи водіння на міських дорогах, далеких маршрутах та інші.</p>
            </div>
            <div class="feature">
                <h2>Індивидуальний підхід</h2>
                <p>Ми підберемо курс, який підходить саме вам, враховуючи ваші потреби та рівень підготовки.</p>
            </div>
        </section>

        <section class="information">
            <div class="inf_block">
                <img src="{% static '/images/car.jpg' %}" alt="Описание изображения">
                <div>
                    <h3>Заняття з теорії водіння та вивчення правил дорожнього руху розпочинаються у вівторок та четвер з 18:00.</h3>
                    <h3 style="color:red;">Курси водіння працюють і у вихідні - для тих, хто працює допізна і не може займатися з 18:00 у будні.</h3>
                    <p>Час навчання водінню на навчальних автомобілях обговорюється з автоінструктором індивідуально. Термін навчання – 2 місяці.</p>
                </div>    
            </div>    
                <p>Початкове навчання водінню автошкола здійснює за містом – на просторому майданчику. Тут новачки не почуваються сковано, як на дорогах міста, де навчають інші автокурси Дніпропетровська. Водії-початківці в спокійній обстановці вчаться заводити машину, рушати з місця, перемикати швидкості, відчувати габарити машини, паркуватися. І лише після того, як учень засвоїв ази, закріпив елементарні навички, вивчати керування автомобілем можна продовжити на вул. Робочої, Кедріна та в інших районах міста Дніпропетровська. Проробляємо маршрути по місту за вашим бажанням, перехрестями, їздою мокрою, слизькою дорогою і в темний час доби. Все це ви отримаєте в теорії та на практиці. </p>

        </section>

        <section class="need">
                <h2>Для вступу потрібно:</h2>
            <div class='block_photo'>
                <div class='passport'>
                    <img src="{% static 'images/passport_ukr.jpg' %}" alt="Описание изображения">
                    <p>Паспорт та прописка</p>
                </div>
                <div class='IPN'>
                    <img src="{% static 'images/IPN.jpg' %}" alt="Описание изображения">
                    <p>Індифікаційний номер ИПН</p>
                </div>
            </div>
            <div class='block_photo2'>    
                <div class='photos'>
                    <img src="{% static 'images/imagess.jpg' %}" alt="Описание изображения">
                    <p>Фото 3*4, 2 одиниці </p>
                </div>
                <div class='medical'>
                    <img src="{% static 'images/medical.jpg' %}" alt="Описание изображения">
                    <p>Медична довідка</p>
                </div>
            </div>    
        </section>
        <section class="paragraph">
            <p>Досвідчений інструктор з водіння не просто дає зрозуміти, що таке водіння автомобіля, він дозволяє учням відчувати себе впевнено і спокійно на дорозі в найкоротші терміни.

                Ми не просто озвучуємо вам стандартну програму та відправляємо з вами належний годинник. Наші курси водіння, крім необхідних основ, дають вам змогу швидко освоїти тонкощі керування автомобілем, вивчити нюанси та закріпити всі найважливіші навички та знання.
                
                Правила дорожнього руху ми чітко і чітко пояснюємо. Всі важкодоступні пункти правил розбираються за кісточками, на прикладах. Особлива увага приділяється поглибленому вивченню складних перехресть, оскільки початківці водії, як правило, губляться на перехрестях і не пам'ятають, що робити.
                
                Наша школа водіння постійно тримає в Дніпрі один з найвищих відсотків складання іспитів  з першого разу. Далеко не всі автошколи Дніпра  можуть похвалитися тим же. Приходьте! Переконайтеся!</p>
        </section>        

        <section class="contact" id="contact">
        <div class="contact2">    
            <h2>Контактна інформація</h2>
            <p>Адресa: м. Дніпро, ул. Рабоча, д.83 </p>
            <a href="tel:+380505673594">+380 (50) 567 35 94 - Vodafone</a>
            <br>
            <br>
            <a href="tel:+380687313709">+380 (68) 731 37 09 - Kyivstar</a>
            <p>Ольга Викторовна</p>
        </div>
        <div class="maps">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2646.572240758269!2d34.99741267707196!3d48.44554907127915!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40dbe36d8698dded%3A0x5cebfc4017ef302a!2z0YPQuy4g0KDQsNCx0L7Rh9Cw0Y8sIDgzLCDQlNC90LXQv9GALCDQlNC90LXQv9GA0L7Qv9C10YLRgNC-0LLRgdC60LDRjyDQvtCx0LvQsNGB0YLRjCwgNDkwMDA!5e0!3m2!1sru!2sua!4v1695336438457!5m2!1sru!2sua"  referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>    
        </section>
        <div class='btn2'>
            <a href="{% url 'course_list' %}" class="btn-2">Перейти до курсів</a>
        </div>




        <footer>
            <p class='footer_p'> © 2023 Автошкола "Форсаж". Всі права захищені.</p>
        </footer>
</body>
</html>
