{% load static %}
<!DOCTYPE html>
<html>
   
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'courses/css/styles.css' %}">
    <title>Список курсів</title>
</head>
<body>
    <div class="h1_class">
        <h1>Список курсів:</h1>
        <div>
            <a href="/">Вихід</a>
        </div>
    </div>
    <div class="block_one">
        {% for course in courses %}
            <div class="block_start">
                <h3>{{ course.title }}</h3> 
                <p class="description1">{{ course.description }}</p>
                <p class="data_start">{{ course.start_date }}</p> 
            </div>  
        {% endfor %}
   </div>
   <div class="go">
        <h3>Для запису телефонуйте за номером телефону</h3>
   </div>
<footer>
   <section class="contact" id="contact">
    <h2>Контактна інформація</h2>
    <p>Адресa: м. Дніпро, ул. Рабоча, д.83 </p>
    <a href="tel:+380505673594">+380 (50) 567 35 94 - Vodafone</a>
    <br>
    <a href="tel:+380687313709">+380 (68) 731 37 09 - Kyivstar</a>
    <p>Ольга Викторовна</p>
    </section>
</footer> 
</body>
</html>