{% load static %}
<!DOCTYPE html>
<html>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Page</title>
    <link rel="stylesheet" type="text/css" href="{% static 'courses/css/kontakt.css' %}">
<head>
    <title>Kontakt</title>
</head>
<body>
    <section class="contact" id="contact">
        <div class="contact2">    
            <h2>Контактна інформація</h2>
            <p>Адресa: м. Дніпро, ул. Рабоча, д.83 </p>
            <a href="tel:+380505673594">+380 (50) 567 35 94 - Vodafone</a>
            
            <a href="tel:+380687313709">+380 (68) 731 37 09 - Kyivstar</a>
            <p>Ольга Викторовна</p>
        </div>
        <div class="maps">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2646.572240758269!2d34.99741267707196!3d48.44554907127915!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40dbe36d8698dded%3A0x5cebfc4017ef302a!2z0YPQuy4g0KDQsNCx0L7Rh9Cw0Y8sIDgzLCDQlNC90LXQv9GALCDQlNC90LXQv9GA0L7Qv9C10YLRgNC-0LLRgdC60LDRjyDQvtCx0LvQsNGB0YLRjCwgNDkwMDA!5e0!3m2!1sru!2sua!4v1695336438457!5m2!1sru!2sua"  referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>    
        </section>
</body> 
<html>  
